<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %d{HH:mm:ss.SSS} %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/logback.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
<!--    additivity 不传递信息给上一层 避免重复-->
    <logger name="com.DAO" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->
</configuration>